<div class="nav-component-container">
  <button class="menu-icon" *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()" aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-drawer-container [hasBackdrop]="isMobile" class="drawer-container" autosize>
    <mat-drawer [opened]="!isMobile" #drawer class="side-nav" mode="side">
      <p class="side-nav-text">Messages</p>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
